.caret {
  width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
  position: absolute;
  z-index: 10;
  -moz-user-focus: ignore;
}

.caret[data-hidden] {
  display: none;
}

.caret.middle {
	border-left: 25px solid transparent;  /* left arrow slant */
	border-right: 25px solid transparent; /* right arrow slant */
	border-bottom: 50px solid green; /* bottom, add background color here */
	margin-left: -25px; /* in the middle */
}
